# Copy this file to .env and fill in values
HDFS_HOST=localhost
HDFS_PORT=19000
HDFS_WEBHDFS_PORT=9870
SPARK_MASTER=local[*]
HADOOP_CONF_DIR=/opt/homebrew/opt/hadoop/libexec/etc/hadoop
JAVA_HOME=/opt/homebrew/Cellar/openjdk@17/17.0.19/libexec/openjdk.jdk/Contents/Home
